.timelineItem {
  .icon {
    margin-top: 20px;
    color: #afb1b2;
    position: relative;
    left: 1px;
    margin-bottom: 10px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 28px;
      left: calc(50% - 1px);
      border: 1px solid #c8cacb;
      border-radius: 5px;
      width: 1px;
      height: calc(100% - 4px);
      transition: height 0.4s;
    }

    &.lastEntry {
      &:before {
        border: none;
        background-color: transparent;
      }
    }
  }

  .timestamp {
    text-align: right;
    font-size: 14px;
    width: 130px;
    color: #959899;
    padding-right: 10px;
    margin-top: 22px;

    & .title {
      color: #afb1b2;
      font-weight: bold;
      text-transform: uppercase;
    }

    & .dateFrom {
      color: #afb1b2;
    }

    &.groupedError {
      margin-top: 10px;
    }
  }

  .icon:before {
    border-style: solid;
    background-color: #7CB2E3;
  }

  .content {
    .icon {
      color: #7CB2E3;
      &:before {
        border-color: #7CB2E3;
      }
    }

    .timestamp {
      color: #494e51;

      & .title {
        color: #7CB2E3;
      }
    }

    .customerJourneyEventItem {
      border-color:#c8cacb;
    }
  }
}

.row {
  display: flex;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.itemContent {
  min-height: 58px;
  background: #f6f6fc;
  box-sizing: border-box;
  border-radius: 5px;

  &.expanded {
    border: 1px solid #c8cacb;
    margin-bottom: 10px;
  }

  &.collapsed {
    border: 1px solid #c8cacb;
    margin-bottom: 10px;
  }
}
