.art {
  min-height: 900px;
  height: 100%;
  width: 100%;
  background-color: #23303C;
  font-family: 'Roboto Mono', monospace;

  .headline {
    padding: 20px 50px;

    .headlineDescription {
      color: white;
      font-size: 18px;
    }

    .pink {
      font-size: 64px;
      color: #E77CDC;
    }

    .deepPurple {
      font-size: 64px;
      color: #6B3DCC;
    }
  }

  .artHeadline {
    margin: 0 50px;
    cursor: pointer;
    width: fit-content;
    .pink {
      font-size: 40px;
      color: #E77CDC;
    }

    .deepPurple {
      font-size: 40px;
      color: #6B3DCC;
    }


    .white {
      font-size: 40px;
      color: white;
    }
  }


}
