.aboutMe {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  background-color: #B5C7D7;
  color: #656565;
  overflow: auto;
  justify-content: space-between;


  & .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    width: 100%;
    height: calc(100vh - 100px);

    & .facts {
      border-radius: 10px;
      display: flex;
      background:white;
      padding: 40px;
      margin-bottom: 20px;
      height: 100%;
    }

    & .skills {
      border-radius: 10px;
      display: flex;
      background:white;
      padding: 40px;
      height: 100%;
    }
  }

  & .rightSide {
    display: flex;
    height: calc(100vh - 100px);
    margin: 20px;
    width: 100%;

    & .timeline {
      border-radius: 10px;
      width: 100%;
      background:white;
      padding: 40px;
      overflow: auto;
      display: flex;
      flex-direction: column;

      & .cvDownload {
        display: flex;
        justify-content: space-between;
        & .downloadButton {
          cursor: pointer;
          display: flex;
          background: #7CB2E3;
          border-radius: 10px;
          height: 30px;
          padding: 8px 16px;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}







