.background {
  background: url('../images/backgroundv2.jpeg') left center no-repeat fixed;
  background-size:100% auto;
}

.aboutMe {
  width: 100%;
  backdrop-filter: blur(20px);
  height: calc(100vh - 60px);
  display: flex;
  background-color: rgba(181, 199, 215, 0.35);
  color: #656565;
  overflow: auto;
  justify-content: space-between;


  & .leftSide {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1%;
    max-width: 50%;
    height: calc(100vh - 100px);

    & .facts {
      border-radius: 10px;
      display: flex;
      background: #f6f6fc;
      padding: 40px;
      margin-bottom: 20px;
      height: 100%;
    }

    & .skills {
      border-radius: 10px;
      display: flex;
      background: #f6f6fc;
      padding: 40px;
    }
  }

  & .rightSide {
    flex-grow: 1;
    display: flex;
    height: calc(100vh - 100px);
    margin: 1%;
    justify-content: center;

    & .timeline {
      flex-grow: 1;
      background: #f6f6fc;
      border-radius: 10px;
      padding: 40px;
      display: flex;
      height: fit-content;
      flex-direction: column;

      & h3 {
        color: #7CB2E3;
      }

      & .cvDownload {
        display: flex;
        justify-content: space-between;
        & .downloadButton {
          cursor: pointer;
          display: flex;
          background: #7CB2E3;
          border-radius: 10px;
          height: 30px;
          padding: 8px 16px;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
        }
      }
    }
  }

}







