.skillsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  & a {
    color: #656565;
    &:hover {
      color: #7b7e80;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  & .technologiesWrapper {
    display: flex;
    justify-content: space-around;
  }

  & .showMore {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: #7b7e80;
    }
  }
}

.dropdownCollapsed {
  .headline {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    & span {
      color: #656565;
      font-weight: bold;
      font-size: 22px;
    }
  }
  margin-top: 10px;
  border-bottom: 1px solid #656565;
  padding: 10px;

}

.dropdownExpanded {
  .headline {
    display: flex;
    justify-content: space-between;
    & span {
      color: #656565;
      font-weight: bold;
      font-size: 22px;
    }
  }
  cursor: pointer;
  background-color: #f3f3f6;

  border-left: 3px solid #7CB2E3;
  padding: 10px;
  margin-top: 10px;

  & .content {
    padding-top: 10px;
  }
}

