.web {
  min-height: 900px;
  height: 100%;
  width: 100%;
  background-color: #23303C;
  font-family: 'Roboto Mono', monospace;

  & .headline {
    padding: 20px 50px;

    & .headlineDescription {
      color: white;
      font-size: 18px;
    }

    & .green {
      font-size: 64px;
      color: #7EE77C;
    }

    & .blue {
      font-size: 64px;
      color: #3D77CC;
    }
  }

  & .webHeadline {
    margin: 0 50px;
    cursor: pointer;
    & .blue {
      font-size: 40px;
      color: #3D77CC;
    }

    & .green {
      font-size: 40px;
      color: #7EE77C;
    }

    & .white {
      font-size: 40px;
      color: white;
    }
  }
}
